# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Reference app build outputs
credit-flow-reference/dev-dist
credit-flow-reference/dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
